menu "Display Configuration"
    comment "Fill only EPD entries for single SPI displays (Good display/Waveshare)"
    comment "Mosi and Clock should be set for any epaper"
    config EINK_SPI_MOSI
        int "EPD SPI: GPIO for MOSI (DIN in epaper) * Universal MOSI"
        range 0 35
        default 23
    config EINK_SPI_CLK
        int "EPD SPI: GPIO for Clock                * Universal CLK"
        range 0 37
        default 18
    config EINK_SPI_CS
        int "EPD SPI: GPIO for Chip Select"
        range -1 34
        default 32
    config EINK_DC
        int "EPD: GPIO for DC"
        range -1 34
        default 27
    config EINK_RST
        int "EPD: GPIO for Reset"
        range -1 34
        default 26
    config EINK_BUSY
        int "EPD: GPIO for Busy signal - DONE for Good Display/Waveshare einks! Leave rest on 0 unless is Wave12I48 or PlasticLogic"
        range -1 39
        default 35
endmenu