[submodule "components/BME280/thirdparty/BME280_driver"]
	path = components/BME280/thirdparty/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver.git
[submodule "components/ESP8266-RTOS-FONTS"]
	path = components/ESP8266-RTOS-FONTS
	url = https://github.com/airmeter-io/ESP8266-RTOS-FONTS.git
[submodule "components/ESP8266-RTOS-SSD1306"]
	path = components/ESP8266-RTOS-SSD1306
	url = https://github.com/airmeter-io/ESP8266-RTOS-SSD1306.git
[submodule "components/QRCODE/Thirdparty/QRCode"]
	path = components/QRCODE/Thirdparty/QRCode
	url = https://github.com/airmeter-io/QRCode.git
