[submodule "components/BME280/thirdparty/BME280_driver"]
	path = components/BME280/thirdparty/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver.git
[submodule "components/QRCODE/Thirdparty/QRCode"]
	path = components/QRCODE/Thirdparty/QRCode
	url = https://github.com/airmeter-io/QRCode.git
[submodule "components/UTF8/tiny-utf8"]
	path = components/UTF8/tiny-utf8
	url = https://github.com/DuffsDevice/tiny-utf8.git
