#
# PThreads
#
CONFIG_ENABLE_PTHREAD=y

#
# Partition Table
#
CONFIG_PARTITION_TABLE_TWO_OTA=y

#
# Bootloader config
#
CONFIG_BOOTLOADER_APP_TEST=y
CONFIG_BOOTLOADER_APP_TEST_IN_OTA_1=y
CONFIG_BOOTLOADER_NUM_PIN_APP_TEST=12
#
# AirQuality.Dev
#
CONFIG_CO2_UART_ENABLE=y
CONFIG_CO2_UART_NUM=2
CONFIG_CO2_UART_SENSEAIR=y
CONFIG_CO2_UART_CUBIC=y
CONFIG_CO2_UART_WINSEN=y

#
# I2C Bus
#
CONFIG_I2C_SDA_PIN=21
CONFIG_I2C_SCL_PIN=22
# end of I2C Bus
# end of AirQuality.Dev
# end of Component config